Repository firemanx07/react-native-design-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sonarqube-check, pages

.gitlab-ci.yml:

image: gitlab-registry.proxym-group.net/docker/node:16.17.0

sonarqube-check:
  stage: code_review
  tags:
    - docker
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    variables:
      - $CI_COMMIT_BRANCH == "master"
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"
      - $CI_MERGE_REQUEST_EVENT_TYPE == "merge_request"
      - $CI_PIPELINE_SOURCE == "merge_request_event"
    changes:
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.js"

pages:
  stage: deploy
  tags:
    - docker
  script:
    - yarn install
    - yarn bootstrap
    - export NODE_ENV=production
    - yarn build-storybook
    - mv libs/components/storybook-static ./public
  artifacts:
    paths:
      - public
  only:
    changes:
      - master
      - libs/components/src/**/*.stories.tsx
  when: manual

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

gitlab ci config
  .gitlab-ci.yml
Due: none

fix sonar security issue
  libs/components/src/helpers/format-utils.ts
Due: sonarqube-check

fix tests
  libs/components/src/atoms/Badge/Badge.stories.tsx
  libs/components/src/atoms/Badge/__snapshots__/Badge.spec.tsx.snap
  libs/components/src/atoms/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  libs/components/src/atoms/IconButton/__snapshots__/IconButton.spec.tsx.snap
  libs/components/src/atoms/Icons/__snapshots__/Icons.spec.tsx.snap
  libs/components/src/atoms/Icons/index.ts
  libs/components/src/atoms/Illustration/__snapshots__/Illustration.spec.tsx.snap
  libs/components/src/foundations/Colors/__snapshots__/Colors.spec.tsx.snap
  libs/components/src/foundations/Spacing/__snapshots__/Spacing.spec.tsx.snap
  libs/components/src/molecules/ImageListItem/ImageListItem.tsx
  libs/components/src/molecules/ImageListItem/__snapshots__/ImageListItem.spec.tsx.snap
  libs/components/src/molecules/ListItem/ListItem.stories.tsx
  libs/components/src/molecules/ListItem/ListItem.tsx
  libs/components/src/molecules/ListItem/__snapshots__/ListItem.spec.tsx.snap
  libs/components/src/molecules/MediaTile/MediaTile.styles.ts
  libs/components/src/molecules/MediaTile/__snapshots__/MediaTile.spec.tsx.snap
  libs/components/src/molecules/SettingItem/__snapshots__/SettingItem.spec.tsx.snap
  libs/components/src/molecules/Slider/__snapshots__/Slider.spec.tsx.snap
Due: sonarqube-check, pages

fix
  .gitlab-ci.yml
  libs/components/__mocks__/react-native-reanimated-mock.js
  libs/components/src/atoms/Badge/Badge.tsx
  libs/components/src/atoms/BaseButton/AllButtons/AllButtons.stories.tsx
  libs/components/src/atoms/BaseButton/BaseButton.stories.tsx
  libs/components/src/atoms/BaseButton/BaseButton.styles.ts
  libs/components/src/atoms/Checkbox/Checkbox.stories.tsx
  libs/components/src/atoms/IconButton/IconButton.stories.tsx
  libs/components/src/atoms/Icons/Icons.stories.tsx
  libs/components/src/atoms/LabelButton/LabelButton.stories.tsx
  libs/components/src/atoms/Toggle/Toggle.stories.tsx
  libs/components/src/foundations/Spacing/Spacing.tsx
  libs/components/src/molecules/MediaTile/MediaTile.tsx
  libs/components/src/molecules/Slider/Slider.stories.tsx
Due: sonarqube-check, pages

fix sonar codeSmells
  libs/components/src/molecules/MediaTile/MediaTile.styles.ts
Due: sonarqube-check

fix sonar codeSmells
  libs/components/src/atoms/Badge/Badge.tsx
  libs/components/src/atoms/BaseButton/BaseButton.styles.ts
  libs/components/src/atoms/Icons/Icons.stories.tsx
Due: sonarqube-check, pages

fix sonar codeSmells
  libs/components/src/atoms/Badge/Badge.tsx
Due: sonarqube-check

Develop
  libs/components/src/atoms/Badge/Badge.tsx
  libs/components/src/atoms/BaseButton/BaseButton.styles.ts
  libs/components/src/atoms/Icons/Icons.stories.tsx
  libs/components/src/molecules/MediaTile/MediaTile.styles.ts
Due: sonarqube-check, pages

all codeSmells resolved
  libs/components/src/molecules/SettingItem/SettingItem.stories.tsx
  libs/components/test-utils/jest.setup.native.js
Due: sonarqube-check, pages

[Feature] LabeledSwitch
  libs/components/src/atoms/Toggle/Toggle.stories.tsx
  libs/components/src/atoms/Toggle/Toggle.tsx
  libs/components/src/atoms/Toggle/__snapshots__/Toggle.spec.tsx.snap
  libs/components/src/molecules/LabeledSwtich/LabeledSwitch.spec.tsx
  libs/components/src/molecules/LabeledSwtich/LabeledSwitch.tsx
  libs/components/src/molecules/LabeledSwtich/LabledSwitch.stories.tsx
  libs/components/src/molecules/LabeledSwtich/__snapshots__/LabeledSwitch.spec.tsx.snap
  libs/components/src/molecules/LabeledSwtich/index.ts
  libs/components/src/molecules/SettingItem/__snapshots__/SettingItem.spec.tsx.snap
  libs/components/src/molecules/index.ts
Due: sonarqube-check, pages

refactor .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

[test] gitlab packages
  .npmrc
  lerna.json
  libs/components/package.json
  package.json
Due: none

v0.0.13-test.0
  lerna.json
  libs/components/package.json
Due: none

[feature] Radio button
  libs/components/src/atoms/BaseText/BaseText.tsx
  libs/components/src/atoms/RadioButton/RadioButton.spec.tsx
  libs/components/src/atoms/RadioButton/RadioButton.stories.tsx
  libs/components/src/atoms/RadioButton/RadioButton.tsx
  libs/components/src/atoms/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  libs/components/src/atoms/RadioButton/index.tsx
  libs/components/src/molecules/ImageListItem/ImageListItem.spec.tsx
  libs/components/src/molecules/ImageListItem/ImageListItem.stories.tsx
  libs/components/src/molecules/ImageListItem/ImageListItem.tsx
  libs/components/src/molecules/ImageListItem/__snapshots__/ImageListItem.spec.tsx.snap
  libs/components/src/molecules/ImageListItem/index.ts
  libs/components/src/molecules/LabeledSwitch/LabeledSwitch.spec.tsx
  libs/components/src/molecules/LabeledSwitch/LabeledSwitch.tsx
  libs/components/src/molecules/LabeledSwitch/LabledSwitch.stories.tsx
  libs/components/src/molecules/LabeledSwitch/__snapshots__/LabeledSwitch.spec.tsx.snap
  libs/components/src/molecules/LabeledSwitch/index.ts
  libs/components/src/molecules/ListItem/ListItem.spec.tsx
  libs/components/src/molecules/ListItem/ListItem.stories.tsx
  libs/components/src/molecules/ListItem/ListItem.tsx
  libs/components/src/molecules/ListItem/__snapshots__/ListItem.spec.tsx.snap
  libs/components/src/molecules/ListItem/index.ts
  libs/components/src/molecules/MediaTile/MediaTile.spec.tsx
  libs/components/src/molecules/MediaTile/MediaTile.stories.tsx
  libs/components/src/molecules/MediaTile/MediaTile.styles.ts
  libs/components/src/molecules/MediaTile/MediaTile.tsx
  libs/components/src/molecules/MediaTile/__snapshots__/MediaTile.spec.tsx.snap
  libs/components/src/molecules/MediaTile/index.ts
  libs/components/src/molecules/SettingItem/SettingItem.spec.tsx
  libs/components/src/molecules/SettingItem/SettingItem.stories.tsx
  libs/components/src/molecules/SettingItem/SettingItem.tsx
  libs/components/src/molecules/SettingItem/__snapshots__/SettingItem.spec.tsx.snap
  libs/components/src/molecules/SettingItem/index.ts
  libs/components/src/molecules/index.ts
Due: sonarqube-check, pages

[fix] remove staled exports
  libs/components/src/molecules/index.ts
Due: sonarqube-check

Develop
  .gitlab-ci.yml
  libs/components/src/atoms/Badge/Badge.tsx
  libs/components/src/atoms/BaseText/BaseText.tsx
  libs/components/src/atoms/RadioButton/RadioButton.spec.tsx
  libs/components/src/atoms/RadioButton/RadioButton.stories.tsx
  libs/components/src/atoms/RadioButton/RadioButton.tsx
  libs/components/src/atoms/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  libs/components/src/atoms/RadioButton/index.tsx
  libs/components/src/atoms/Toggle/Toggle.stories.tsx
  libs/components/src/atoms/Toggle/Toggle.tsx
  libs/components/src/molecules/ImageListItem/ImageListItem.spec.tsx
  libs/components/src/molecules/ImageListItem/ImageListItem.stories.tsx
  libs/components/src/molecules/ImageListItem/ImageListItem.tsx
  libs/components/src/molecules/ImageListItem/__snapshots__/ImageListItem.spec.tsx.snap
  libs/components/src/molecules/ImageListItem/index.ts
  libs/components/src/molecules/LabeledSwitch/LabeledSwitch.spec.tsx
  libs/components/src/molecules/LabeledSwitch/LabeledSwitch.tsx
  libs/components/src/molecules/LabeledSwitch/LabledSwitch.stories.tsx
  libs/components/src/molecules/LabeledSwitch/__snapshots__/LabeledSwitch.spec.tsx.snap
  libs/components/src/molecules/LabeledSwitch/index.ts
  libs/components/src/molecules/ListItem/ListItem.spec.tsx
  libs/components/src/molecules/ListItem/ListItem.stories.tsx
  libs/components/src/molecules/ListItem/ListItem.tsx
  libs/components/src/molecules/ListItem/__snapshots__/ListItem.spec.tsx.snap
  libs/components/src/molecules/ListItem/index.ts
  libs/components/src/molecules/MediaTile/MediaTile.spec.tsx
  libs/components/src/molecules/MediaTile/MediaTile.stories.tsx
  libs/components/src/molecules/MediaTile/MediaTile.styles.ts
  libs/components/src/molecules/MediaTile/MediaTile.tsx
  libs/components/src/molecules/MediaTile/__snapshots__/MediaTile.spec.tsx.snap
  libs/components/src/molecules/MediaTile/index.ts
  libs/components/src/molecules/SettingItem/SettingItem.spec.tsx
  libs/components/src/molecules/SettingItem/SettingItem.stories.tsx
  libs/components/src/molecules/SettingItem/SettingItem.tsx
  libs/components/src/molecules/SettingItem/__snapshots__/SettingItem.spec.tsx.snap
  libs/components/src/molecules/SettingItem/index.ts
  libs/components/src/molecules/index.ts
  libs/components/test-utils/jest.setup.native.js
Due: sonarqube-check, pages

[feature] TopTabBar
  libs/components/.storybook/loadFonts.js
  libs/components/package.json
  libs/components/src/atoms/IconButton/IconButton.stories.tsx
  libs/components/src/atoms/IconButton/IconButton.tsx
  libs/components/src/molecules/TabBars/Bottom/BottomTabBar.stories.tsx
  libs/components/src/molecules/TabBars/Bottom/BottomTabBar.tsx
  libs/components/src/molecules/TabBars/Bottom/index.ts
  libs/components/src/molecules/TabBars/Top/TopTabBar.spec.tsx
  libs/components/src/molecules/TabBars/Top/TopTabBar.stories.tsx
  libs/components/src/molecules/TabBars/Top/TopTabBar.tsx
  libs/components/src/molecules/TabBars/Top/index.ts
  libs/components/src/molecules/TabBars/index.ts
  libs/components/src/molecules/index.ts
  libs/components/test-utils/jest.setup.native.js
  yarn.lock
Due: sonarqube-check, pages

[feature] BottomTabBar
  libs/components/package.json
  libs/components/src/atoms/Icons/Icons.stories.tsx
  libs/components/src/atoms/Icons/__snapshots__/Icons.spec.tsx.snap
  libs/components/src/atoms/Icons/customIcons/ConverterIcon.svg
  libs/components/src/atoms/Icons/customIcons/SimulatorIcon.svg
  libs/components/src/atoms/Icons/customIcons/index.ts
  libs/components/src/atoms/Icons/index.ts
  libs/components/src/molecules/TabBars/AllTabBars.stories.tsx
  libs/components/src/molecules/TabBars/Bottom/BottomTabBar.spec.tsx
  libs/components/src/molecules/TabBars/Bottom/BottomTabBar.stories.tsx
  libs/components/src/molecules/TabBars/Bottom/BottomTabBar.tsx
  libs/components/src/molecules/TabBars/Bottom/TabBarItem.tsx
  libs/components/src/molecules/TabBars/Bottom/__snapshots__/BottomTabBar.spec.tsx.snap
  libs/components/src/molecules/TabBars/Top/TabBarItem.tsx
  libs/components/src/molecules/TabBars/Top/TopTabBar.spec.tsx
  libs/components/src/molecules/TabBars/Top/TopTabBar.stories.tsx
  libs/components/src/molecules/TabBars/Top/TopTabBar.tsx
  yarn.lock
Due: sonarqube-check, pages

Feature : Bottom TabBar
  libs/components/package.json
  libs/components/src/atoms/Icons/Icons.stories.tsx
  libs/components/src/atoms/Icons/__snapshots__/Icons.spec.tsx.snap
  libs/components/src/atoms/Icons/customIcons/ConverterIcon.svg
  libs/components/src/atoms/Icons/customIcons/SimulatorIcon.svg
  libs/components/src/atoms/Icons/customIcons/index.ts
  libs/components/src/atoms/Icons/index.ts
  libs/components/src/molecules/TabBars/AllTabBars.stories.tsx
  libs/components/src/molecules/TabBars/Bottom/BottomTabBar.spec.tsx
  libs/components/src/molecules/TabBars/Bottom/BottomTabBar.stories.tsx
  libs/components/src/molecules/TabBars/Bottom/BottomTabBar.tsx
  libs/components/src/molecules/TabBars/Bottom/TabBarItem.tsx
  libs/components/src/molecules/TabBars/Bottom/__snapshots__/BottomTabBar.spec.tsx.snap
  libs/components/src/molecules/TabBars/Top/TabBarItem.tsx
  libs/components/src/molecules/TabBars/Top/TopTabBar.spec.tsx
  libs/components/src/molecules/TabBars/Top/TopTabBar.stories.tsx
  libs/components/src/molecules/TabBars/Top/TopTabBar.tsx
  yarn.lock
Due: sonarqube-check, pages
